@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
 }

body {
    font-family: 'Patrick Hand', sans-serif;     
    font-weight: 400;
}

/* headings */

header {    
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1B1A17;
    background-color: green;
}

/* game area section */

#game-area {
    background-color: aqua;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1B1A17;
    background-color: #557B83;
    color: #EEEEEE;    
    text-align: center;
    width: 12%;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;   
    margin-left: 10px; 
}

.button:hover {    
    background-color: #97DBAE;
    color: #1B1A17;    
}

/* user area */

.user {
    background-color: bisque;
}

/* computer area */

.computer {
    background-color: coral;
}