@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
 }

body {
    font-family: 'Patrick Hand', sans-serif;     
    font-weight: 400;
}

/* header */

header {    
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1B1A17;
    background-color: green;
}

/* choice section */

#choice {
    background-color: aqua;
    letter-spacing: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px 0 10px;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1B1A17;
    background-color: #557B83;
    color: #EEEEEE;    
    text-align: center;
    width: 150px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;   
    margin-left: 10px; 
}

.button:hover {    
    background-color: #97DBAE;
    color: #1B1A17;    
}

/* game area section */

/* user area */

.user {
    background-color: bisque;
    width: 75%;    
}

#user-image {
    width: 50%;
    border-radius: 2%;
}

/* computer area */

.computer {
    background-color: coral;
    width: 75%;
    
    
}

#computer-image {
    width: 50%;
    border-radius: 2%;
}